---
import Links from '../components/links.vue';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Links" showHeader={false}>
  <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl">Links</h1>
  <Links client:load />
</BaseLayout>
